* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.hamburger {
  display: none;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background: red;
  margin-top: 3px;
}

.line {
  height: 90px;
  background: #353132;
}

.btn {
  width: 270px;
  height: 56px;
  border: none;
  background: linear-gradient(174.51deg, #FFCC00 38.41%, rgba(247, 212, 73, 0.59) 134.46%);
  -webkit-box-shadow: 4px 4px 11px rgba(52, 52, 52, 0.2);
          box-shadow: 4px 4px 11px rgba(52, 52, 52, 0.2);
  border-radius: 27px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.header {
  min-height: 992px;
  background: url("../img/bg.jpg") center center/cover no-repeat;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo .text {
  position: relative;
  top: 20px;
  left: 10px;
  color: #fff;
}

.header-menu {
  width: 580px;
  position: relative;
  top: 10px;
}

.header-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header-menu .menu-link a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.header-content {
  margin-top: 191px;
  max-width: 743px;
  min-height: 540px;
}

.header-content .title {
  font-size: 44px;
  line-height: 54px;
  text-align: left;
}

.header-content .title strong {
  text-transform: uppercase;
}

.header-content .subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}

.header-content .info {
  max-width: 655px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 106px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.header-content .info a {
  text-decoration: none;
  color: #fff;
}

.header-content .info .right {
  max-width: 322px;
  line-height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.header-content .info .right a {
  color: #ffffff;
  text-decoration: none;
}

.header-content .info .right p {
  margin: 0;
  color: #F3C50E;
}

/* about */
.about {
  min-height: 1227px;
  background: url("../img/effect1.png") top no-repeat;
  background-size: 100%;
}

.about .container {
  padding-top: 190px;
}

.about .top {
  min-height: 725px;
}

.about .title {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #373435;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.about .row-container {
  max-width: 220px;
  margin-right: 5px;
}

.about .row-container__img {
  width: 187px;
  height: 187px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .row-container .blue {
  background: #029BC5;
}

.about .row-container .green {
  background: #21B3A9;
}

.about .row-container .red-w {
  background: #FF9680;
}

.about .row-container .aque {
  background: #89C5CD;
}

.about .row-container .red {
  background: #FE7058;
}

.about .row-container__text {
  margin-top: 34px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #373435;
}

.about .bottom {
  min-height: 502px;
  padding-bottom: 20px;
  background: linear-gradient(179.98deg, #3A556A 0.05%, rgba(82, 82, 82, 0) 346.39%);
}

.about .bottom .container {
  padding-top: 57px;
}

.about .bottom .title {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  color: #F3C50E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about .bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 34px;
}

/* rental */
.rental {
  position: relative;
}

.rental .fon {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: -280px;
  background-size: cover;
  height: 2200px;
}

.rental .bg {
  position: absolute;
  z-index: -1;
  width: 640px;
  height: 640px;
  top: 850px;
  left: -40px;
}

.rental .title {
  font-weight: 500;
  font-size: 40px;
  color: #373435;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  margin-top: 83px;
}

.rental-block h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #373435;
  margin-top: 54px;
}

.rental-block .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.rental-block .card-item {
  width: 560px;
  min-height: 600px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 4px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-bottom: 43px;
  padding: 0px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rental-block .card-item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 295px;
  width: 382px;
}

.rental-block .card-item__title {
  font-size: 24px;
  color: #373435;
  margin-top: 20px;
}

.rental-block .card-item__descr {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #373435;
  margin-top: 5px;
}

.rental-block .card-item__button {
  margin: auto;
}

.rental-block .card-item .center {
  min-height: 206px;
}

.rental-description {
  position: relative;
}

.rental-description img {
  position: absolute;
  z-index: -1;
}

.rental-description .fon2 {
  width: 100%;
  height: 1414.13px;
  top: -262px;
}

.rental-description .bg2 {
  right: 0;
  top: -210px;
  opacity: .25px;
}

.rental-description .title {
  max-width: 868px;
  font-weight: 500;
  font-size: 40px;
  color: #373435;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  text-align: left;
  margin-top: 131px;
}

.rental-description .list__item {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145%;
  color: #373435;
}

/* relation  */
.relation {
  min-height: 286px;
  background: #525252;
  margin-top: 60px;
}

.relation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.relation-text {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  max-width: 723px;
  min-height: 117px;
  margin: 0;
}

.relation-info {
  max-width: 349px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.relation-info__bottom {
  margin-top: 40px;
  padding-bottom: 20px;
}

.relation-info__bottom a {
  text-decoration: none;
  color: #fff;
}

.relation-info__bottom p {
  margin: 0;
}

/* delivery */
.delivery {
  min-height: 1440px;
  position: relative;
}

.delivery img {
  position: absolute;
  z-index: -1;
}

.delivery .bg3 {
  right: 0px;
  top: 215px;
}

.delivery .fon3 {
  bottom: 230px;
  width: 100%;
}

.delivery .bg4 {
  bottom: 0px;
}

.delivery-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #373435;
  max-width: 644px;
  margin-top: 26px;
}

.delivery .title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #373435;
  text-align: left;
  margin-top: 90px;
}

.delivery-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery-block img {
  margin-left: 250px;
  margin-top: 61px;
  height: 1109px;
}

.delivery-block .delivery-card {
  width: 600px;
  min-height: 230px;
  background: #3A556A;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  padding: 27px 59px 13px 46px;
}

.delivery-block .delivery-card__title {
  color: #F3C50E;
}

.delivery-block .delivery-card__content {
  font-size: 16px;
  margin-top: 10px;
}

.delivery-block .delivery-card__content .strong {
  color: #F3C50E;
}

.delivery-block .delivery-card__list li {
  font-size: 20px;
}

.delivery-block .one {
  margin-top: 130px;
}

.delivery-block .two {
  margin: 15px 0 0 auto;
  position: relative;
  right: -90px;
}

.delivery-block .three {
  margin: 21px auto 15px 40px;
}

/* footer */
.footer {
  min-height: 288px;
  background: #525252;
  padding: 31px 0 9px 0;
}

.footer .info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .info-phone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .info-phone a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.footer .info-job {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .info-job__text {
  font-size: 18px;
  line-height: 22px;
}

.footer .address {
  margin-top: 55px;
  text-align: center;
  font-size: 18px;
}

.footer .inn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
}

.footer .inn .left {
  text-transform: uppercase;
}

.footer .politic {
  margin-top: 12px;
  text-align: center;
  font-size: 18px;
}

.footer .politic a {
  color: #F3C50E;
}

.footer .rights {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

@media (max-width: 1751px) {
  .delivery .bg3 {
    top: 280px;
  }
}

@media (max-width: 1625px) {
  .delivery .bg3 {
    top: 340px;
  }
}

@media (max-width: 1500px) {
  .delivery .bg3 {
    top: 410px;
  }
}

@media (max-width: 1326px) {
  .delivery .bg3 {
    top: 455px;
  }
  .delivery-block img {
    display: none;
  }
  .delivery-block .two {
    right: 0px;
  }
  .delivery-block .one {
    margin-top: 20px;
  }
}

@media (max-width: 1148px) {
  .header-menu .nav-link a {
    font-size: 12px;
  }
  .about .container {
    padding-top: 50px;
  }
  .about .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .row-container__img {
    margin-top: 10px;
    margin-right: 10px;
  }
  .rental-block .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .relation-text {
    max-width: 600px;
  }
  .rental-description .title {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .header-logo .text {
    display: none;
  }
  .about .container {
    padding-top: 25px;
  }
  .rental .bg, .rental .fon {
    display: none;
  }
  .rental-description .fon2, .rental-description .bg2 {
    display: none;
  }
  .delivery .bg3, .delivery .fon3, .delivery .bg4 {
    display: none;
  }
  .delivery .two, .delivery .tgree {
    margin-top: 20px;
  }
  .relation-text {
    max-width: 700px;
    text-align: center;
  }
  .relation-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .relation-info__bottom {
    margin-top: 0;
    width: 360px;
  }
  .relation-info .btn {
    margin-right: 20px;
  }
  .delivery {
    min-height: 1325px;
  }
}

@media (max-width: 767px) {
  .line {
    height: 100px;
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
    z-index: 9;
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
    margin: 10px 0px;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ef0a0a;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .header-menu .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-menu .menu-link {
    text-align: center;
  }
  .header-content .title {
    font-size: 26px;
  }
  .header-content .subtitle {
    font-size: 20px;
  }
  .rental-description .title {
    margin-top: 0;
  }
  .delivery .one, .delivery .two, .delivery .three {
    width: 90%;
    margin: 20px auto;
  }
  .footer .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479px) {
  .header-content {
    margin-top: 150px;
  }
  .about .bottom p {
    font-size: 20px;
  }
  .rental-block .card-item {
    width: 100%;
  }
  .rental-block .card-item img {
    width: 100%;
  }
  .rental-block .card-item__title {
    font-size: 20px;
  }
  .rental-block .card-item__descr {
    font-size: 16px;
  }
  .rental-description .title {
    font-size: 27px;
  }
  .rental-description .list__item {
    font-size: 15px;
  }
  .relation-text {
    font-size: 18px;
  }
  .relation-info {
    font-size: 14px;
  }
  .relation-info__bottom {
    width: 250px;
  }
  .relation-info .btn {
    width: 250px;
  }
  .delivery .title {
    margin-top: 0;
    font-size: 23px;
  }
  .footer .info-job {
    margin-top: 10px;
  }
  .footer .info-job__text {
    text-align: center;
  }
  .footer .info-phone {
    text-align: center;
  }
  .btn {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */